<ion-header>
  <ion-toolbar class="header">
    <ion-item lines="none" class="margin-left-10 margin-top-10 margin-bottom-10 ion-item">
      <div >
        <img class="header-logo" src="{{orgLogo}}" onerror="src='assets/icon/default-logo.png'" />
      </div>
      <div slot="end" class="display-inline margin-0">
        <div slot="end">
          <div class="font-20 font-weight-400 date display-flex">
            <div>{{Date | date : "longDate"}} | {{Date | date : "shortTime" }}</div> 
          </div>
        </div>
        <div class="display-flex margin-left-10" *ngIf="step <= 3" routerLink="/home">
          <img src="../../../assets/icon/cancel.svg" alt="cancel" class="cancel-btn">
        </div>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <!-- Stepper -->
    <form class="msform">
      <!-- progressbar -->
      <ul id="progressbar" [hidden]="!showProgress" class="padding-0">
        <li [ngClass]="step>=1 ? 'active ' : 'inactive'" (click)="previousStep($event,1)">Verify OTP</li>
        <li [ngClass]="step>=2 ? 'active' : 'inactive'" (click)="previousStep($event,1)">Capture Image</li>
        <li [ngClass]="step==3 ? 'active' : 'inactive'" (click)="previousStep($event,1)">Gate Pass</li>
      </ul>
      <!-- fieldsets -->
    </form>
    <div class="msform" *ngIf="step == 1">
      <div *ngIf="showImage" class="center-text justify-center display-flex">
        <img src="../../../assets/icon/verify-otp.png" class="sm-width-50" alt="verify-otp-image" />
      </div>
      <div class="margin-top-30 center-text sm-20">
        <ion-text class="main-text font-28 font-weight-500 sm-txt-20">Verify OTP</ion-text>
        <p class="font-22 margin-top-20 sm-16 sm-mt-10 sm-m-0">
          Enter the 6-digit code
        </p>
      </div>
      <ion-grid class="width-90-percent">
        <ion-row>
          <ion-col class="center-text margin-right-10 margin-left-10 OTP-input padding-0">
            <ion-input maxlength="1" inputmode="tel" type="tel" [(ngModel)]="loginData.accessCode1" pattern="[0-9]"
            #autofocus (ionBlur)="removeOnFocusClass('otp-1')" #input1
              (keyup)="next(input2, '', loginData.accessCode1)" class="font-25"
              (ionFocus)="addOnFocusClass('otp-1')"></ion-input>
          </ion-col>
          <ion-col class="center-text margin-right-10 margin-left-10 OTP-input padding-0">
            <ion-input maxlength="1" inputmode="tel" type="tel" [(ngModel)]="loginData.accessCode2" pattern="[0-9]"
              (ionBlur)="removeOnFocusClass('otp-2')" #input2 (keyup)="next(input3, input1, loginData.accessCode2)"
              class="font-25" (ionFocus)="addOnFocusClass('otp-2')"></ion-input>
          </ion-col>
          <ion-col class="center-text margin-right-10 margin-left-10 OTP-input padding-0">
            <ion-input maxlength="1" inputmode="tel" type="tel" [(ngModel)]="loginData.accessCode3" pattern="[0-9]"
              (ionBlur)="removeOnFocusClass('otp-3')" #input3 (keyup)="next(input4, input2, loginData.accessCode3)"
              class="font-25" (ionFocus)="addOnFocusClass('otp-3')"></ion-input>
          </ion-col>
          <ion-col class="center-text margin-right-10 margin-left-10 OTP-input padding-0">
            <ion-input maxlength="1" inputmode="tel" type="tel" [(ngModel)]="loginData.accessCode4" pattern="[0-9]"
              (ionBlur)="removeOnFocusClass('otp-4')" #input4 (keyup)="next(input5, input3, loginData.accessCode4)"
              class="font-25" (ionFocus)="addOnFocusClass('otp-4')"></ion-input>
          </ion-col>
          <ion-col class="center-text margin-right-10 margin-left-10 OTP-input padding-0">
            <ion-input maxlength="1" inputmode="tel" type="tel" [(ngModel)]="loginData.accessCode5" pattern="[0-9]"
              (ionBlur)="removeOnFocusClass('otp-5')" #input5 (keyup)="next(input6, input4, loginData.accessCode5)"
              class="font-25" (ionFocus)="addOnFocusClass('otp-5')"></ion-input>
          </ion-col>
          <ion-col class="center-text margin-right-10 margin-left-10 OTP-input padding-0">
            <ion-input maxlength="1" inputmode="tel" type="tel" [(ngModel)]="loginData.accessCode6" pattern="[0-9]"
              (ionBlur)="removeOnFocusClass('otp-6')" #input6 (keyup)="next(input6, input5, loginData.accessCode6)"
              class="font-25" (ionFocus)="addOnFocusClass('otp-1')"></ion-input>
          </ion-col>
        </ion-row>

    </ion-grid>
      <div class="text-align-start font-16 margin-top-4em margin-auto width-90-percent">
        <p class="try-again margin-bottom-0">Where do i find OTP ?</p>
        <p class="margin-top-0">6-digit code has been sent your mobile number/email</p>
      </div>
    </div>
    <div class="msform" *ngIf="step == 2 ">
      <div *ngIf="hideButton == true else success">
        <ion-text class="font-30 font-weight-500 sm-txt-20">Position your face in the center</ion-text>
        <p class="font-22 sm-txt-16 font-weight-400" id="topHeader">
          Within 5 sec, your picture will be captured automatically
        </p>
        <!-- <img
          class="margin-top-10 margin-bottom-10 border-radius-10 sm-m-0 sm-width-50"
          [src]="capturedImage"
        /> -->
      </div>
      <ng-template #success>
        <ion-text class="display-flex-justify-center sm-txt-20 font-25 sm-mb-20 align-item-center margin-bottom-30">
          <img class="icon-30 margin-right-10" src="../../../assets/icon/check-mark.svg" alt="check-mark" />
          Captured Successfully
        </ion-text>
        <div>
          <img class="border-radius-10 border-radius-50-percent capturedImage"
            [style.height.px]="displayPictureContainer.number" [style.width.px]="displayPictureContainer.number"
            *ngIf="capturedImage" [src]="capturedImage" />
        </div>
      </ng-template>
    </div>
    <div *ngIf="step == 3" class="center-text">
      <ion-text class="font-30 font-weight-500">Thank you</ion-text>
      <p class="font-22 font-weight-400 margin-left-10 margin-right-10">
        Please check your WhatsApp/Email for your gate pass
      </p>
      <ion-card id="dashed-border" class="gatePassCard">
        <div class="corner-circle-top "></div>
        <div class="corner-circle-bottom "></div>
        <ion-card-header>
          <ion-card-title color="secondary" class="font-22 font-weight-500">Your Gate Pass</ion-card-title>
        </ion-card-header>
        <ion-card-content class="gatePassCardContent">
          <img [src]="capturedImage" *ngIf="capturedImage" class="width-height-80 border-radius-50-percent" />
          <ion-text class="font-18 font-weight-500 margin-top-10 black-color">{{visitorData.name || ""}}</ion-text>
          <ion-text class="margin-bottom-10 black-color">{{visitorData.email ? visitorData.email:
            visitorData.phoneNumber || ""}}</ion-text>

          <div class="border-bottom-dashed" id="meet">
          </div>
          <ion-text class="margin-bottom-10 margin-top-10 font-20 font-weight-500" color="secondary">Here to
            meet</ion-text>
          <ion-grid fixed>
            <ion-row class="text-align-start">
              <ion-col size="5" class="light-gray font-16">Name</ion-col>
              <ion-col class="black-color">
                <span>{{visitorData.tenant.name || ''}}</span>
                <span *ngIf="visitorData.tenant.company"> - {{visitorData.tenant.company || ''}}</span>
              </ion-col>
            </ion-row>
            <ion-row class="text-align-start">
              <ion-col size="5" class="light-gray font-16">Purpose</ion-col>
              <ion-col class="black-color">{{visitorData.tenant.purpose || 'Invite'}}</ion-col>
            </ion-row>
            <ion-row class="text-align-start">
              <ion-col size="5" class="light-gray font-16">Timestamp</ion-col>
              <ion-col class="black-color">{{date| date : "longDate"}} | {{date|
                date : "shortTime"}}</ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="3" class="" style="width: 60px;height: 60px; margin: auto;margin-bottom: 30px;">
                <img [src]="visitorData.tenant.QRCode" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <!-- <ion-grid class="width-60-percent height-50vh relative-position">
        <div class="white-circle-right stroke-alt"></div>
        <div class="white-circle-left stroke-alt"></div>
        <ion-card class="card-container margin-auto height-100-percent" color="black">
          <ion-card-header class="center-text font-25 font-weight-500"><span class="secondary-color">
              Your Gate Pass</span></ion-card-header>
          <img src="../../../assets/icon/image 272.png" class="width-height-80 border-radius-50-percent" />
          <ion-card-content class="center-text">
            <div class="display-grid border-bottom-dashed margin-bottom-10">
              <ion-text class="font-18 font-weight-500">{{visitorData.name}}</ion-text>
              <ion-text class="margin-bottom-10">{{visitorData.email ? visitorData.email:
                visitorData.phoneNumber}}</ion-text>
            </div>
            <div>
              <ion-text class="font-18 font-weight-500 secondary-color">Here to meet</ion-text>
              <ion-row class="text-align-start">
                <ion-col size="4" class="light-gray font-16">Name</ion-col>
                <ion-col>
                  <span>{{visitorData.tenant.name}}</span>
                  <span *ngIf="visitorData.tenant.company">
                    - {{visitorData.tenant.company}}</span></ion-col>
              </ion-row>
              <ion-row class="text-align-start">
                <ion-col size="4" class="light-gray font-16">Purpose</ion-col>
                <ion-col>{{visitorData.tenant.purpose}}</ion-col>
              </ion-row>
              <ion-row class="text-align-start">
                <ion-col size="4" class="light-gray font-16">Timestamp</ion-col>
                <ion-col>{{date| date : "longDate"}} | {{date|date :
                  "shortTime"}}</ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <ion-col size="3" class="">
                  <img [src]="visitorData.tenant.QRCode" />
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-grid> -->
      <div>
        <div size="3" class="display-flex-justify-center align-item-center font-25 margin-top-30">
          <div class="time-left display-flex-justify-center align-item-center font-30 sm-txt-20">
            {{timeLeft}}
          </div>
        </div>
        <div class="font-20 center-text margin-top-10">Return to homepage</div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="!hideButton" class="bg-white box-shadow-none">
  <div *ngIf="step == 2" (click)="tryAgain();" class="try-again font-28 sm-txt-20 font-weight-400 center-text">
    Click here to try again
  </div>
  <!-- [disabled]="!allAccessCodeExist" -->
  <div class="display-flex justify-center">
    <ion-button  color="secondary" [disabled]="!allAccessCodeExist"  (click)="nextStep();" mode="md" class="footer-button width-90-percent margin-top-24 margin-bottom-24">
      {{buttonText}}
    </ion-button>
  </div>
</ion-footer>

<!-- For absolute position -->
<div [style.top.px]="capturingHeight" id="capturing" *ngIf="capturingHeight&&hideButton == true&&step!==3">
  <p class="font-30 sm-txt-20 font-weight-400 margin-0">
    Capturing photo in
  </p>
  <div size="3" class="display-flex-justify-center align-item-center font-25 margin-top-10">
    <div class="time-left display-flex-justify-center align-item-center font-30 sm-txt-20">
      {{timeLeft}}
    </div>
  </div>
</div>