.OTP-input {
  border-bottom: 3px solid #e0e0e0;
}

/*stepper styles*/
.msform {
  text-align: center;
  position: relative;
  margin-top: 40px;
  padding: 0px 50px !important;
  margin-left: 10px;
  margin-right: 10px;
}

/*progressbar*/
#progressbar {
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: black;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  font-size: 18px;
  font-weight: 400;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 42px;
  height: 42px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background: var(--ion-progress-color);
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--ion-progress-color);
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
  margin-top: 10px;
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: var(--ion-color-secondary);
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.time-left {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid var(--ion-progress-color);
}

.try-again {
  color: var(--ion-color-secondary);
}

.white-circle-right{
  width: 20px;
  height: 11px;
  background-color: white;
  border-radius: 100px 100px 0 0;
  position: absolute;
  transform: translateX(10px);
  z-index: 10000;
  bottom: 45.6%;
  rotate: -90deg;
  right: 0;

}
.white-circle-left{
  width: 20px;
  height: 11px;
  background-color: white;
  border-radius: 100px 100px 0 0;
  position: absolute;
  transform: translateX(10px);
  z-index: 10000;
  bottom: 49.6%;
  rotate: 90deg;
  left: 0;
}
ion-card{
  border: 1px solid #aaa;
}
.header{
  position: relative;
}

.stroke-alt {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}


@media screen and (max-width: 425px) {
  .msform {
    padding: 0 !important;
  }

  #progressbar li{
    font-size: 14px !important;
  }

  #progressbar li:before {
    width: 30px !important;
    height: 30px !important;
    font-size: 15px;
  }
  #progressbar li:after {
    margin-top: 5px !important;
  }
  #progressbar li.active:before,
  #progressbar li.active:after {
    background: var(--ion-color-secondary);
    font-size: 15px;
    font-weight: 400;
  }
  .sm-width-50{
    width: 60%;
    height: 60%;
  }
  .time-left {
    width: 40px;
    height: 40px;
    border: 1.5px solid var(--ion-progress-color);
  }
}

#capturing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.corner-circle-bottom {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid #FDDC60;
  position: absolute;
  bottom: -120px;
  left: -120px;
}

.corner-circle-top {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid #CF5189;
  position: absolute;
  top: -60px;
  right: -140px;
}

#capturing {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-end !important;
  position: absolute !important;
  z-index: 11111 !important;
  color: black !important;
  left: 0px !important;
  right: 0px !important;


}

.gatePassCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gatePassCard {
  width: 70%;
  margin: auto;
  max-width: 400px;
}

#meet {
  position: relative !important;
}

.capturedImage {
  object-fit: cover;
}