<ion-header>
    <ion-toolbar class="background-color" mode="md">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" mode="md"></ion-back-button>
      </ion-buttons>
      <ion-title  class="padding-0 font-weight-500">Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background: #f8f8f8;">
  <div class="full-width grey-back max-available-height">
    <div class="profile-cover-head">
      <b>
        <span class=" txt-white float-right margin-top-10 font-weight-600 margin-right-10"
        (click)="onlogOutClick();">Logout</span>
      </b>
      <div class=" padding-10 center-text">
      </div>
      <div class="profile-pic margin-top-10 center-text">
        <img class="img-circle" src="assets/placeholder-person.jpg" height="120" width="120">
      </div>
      <div class="center-text">
        <h4 class="txt-white margin-top-10 margin-bottom-5 padding-bottom-20">{{userData.firstName}}
          {{userData.lastName}}</h4>
      </div>
    </div>

    <ion-list class="padding-top-0 padding-bottom-0">
      <ion-header no-border class="padding-top-10 padding-bottom-10 grey-back">
        <ion-title class="center-text  ">Contact Information
        </ion-title>
      </ion-header>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="font-weight-500 font-14">Phone Number :</p>
            </ion-col>
            <ion-col>
              <p class="font-14">{{userData.phoneNumber}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item lines="full">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="font-weight-500 font-14">Email :</p>
            </ion-col>
            <ion-col>
              <p class="font-14">{{userData.email}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-header no-border class="padding-top-10 padding-bottom-10 grey-back">
        <ion-title class="center-text ">Personal Information
        </ion-title>
      </ion-header>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="font-weight-500 font-14">D.O.B :</p>
            </ion-col>
            <ion-col>
              <p class="font-14">{{userData.dob | date: 'MMM dd yyyy'}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="font-weight-500 font-14">Gender :</p>
            </ion-col>
            <ion-col>
              <p class="font-14">{{userData.gender}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item lines="full">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="font-weight-500 font-14">Address :</p>
            </ion-col>
            <ion-col>
              <p><span class="font-14">{{userData.address}}</span></p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
