<ion-header>
  <ion-toolbar class="header">
    <ion-item lines="none" class="margin-left-10 margin-top-10 margin-bottom-10 ion-item">
      <div>
        <img class="header-logo" src="{{orgLogo}}" onerror="src='assets/icon/default-logo.png'" />
      </div>
      <div slot="end" class="display-inline margin-0">
        <div slot="end">
          <div class="font-20 font-weight-400 date display-flex">
            <div>{{user.visitDate| date : "longDate"}} | {{user.visitDate|date :"shortTime"}}</div> 
          </div>
        </div>
        <div class="display-flex margin-left-10" *ngIf="step <= 4" routerLink="/home">
          <img src="../../../assets/icon/cancel.svg" alt="cancel" class="cancel-btn">
        </div>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="msform">
    <ul id="progressbar" *ngIf="step !=3" class="padding-0 display-flex">
      <li [ngClass]="step>=1 ? 'active ' : 'inactive'" (click)="previousStep($event,1)">
        {{visitorType == 'delivery' ? 'Select Option' : 'Your details'}}
      </li>
      <li [ngClass]="step>=2 ? 'active' : 'inactive'" (click)="previousStep($event,2)">Meeting with</li>
      <li [ngClass]="step>=3 ? 'active' : 'inactive'" (click)="previousStep($event,3)">Capture Image</li>
      <li [ngClass]="step>=4 ? 'active' : 'inactive'" (click)="previousStep($event,4)">Gate Pass</li>
    </ul>
  </div>

  <div *ngIf="visitorType=='guest' || visitorType == 'vendor'">
    <div class="width-90-percent margin-auto" *ngIf="step == 1">
      <ion-radio-group class="display-flex margin-top-50 margin-bottom-30 sm-20" [(ngModel)]="source"
        (ionChange)="selectSource();">
        <ion-item lines="none">
          <ion-label class="font-22 sm-txt-20">Phone Number</ion-label>
          <ion-radio mode="md" slot="start" class="radio" value="phoneNumber"></ion-radio>
        </ion-item>
        <ion-item lines="none" class="font-20 txt-slate-grey"> Or </ion-item>
        <ion-item lines="none">
          <ion-label class="font-22 sm-txt-20">Email Id</ion-label>
          <ion-radio mode="md" slot="start" class="radio" value="email"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <div *ngIf="source !='email' else emailTemplate">
        <ion-row>
          <ion-label position="stacked" class="font-20 dark-grey gotham">Enter Phone Number</ion-label>
        </ion-row>
        <div>
          <ion-row>
            <ion-col size="2" class="margin-right-10" (click)="showCountryCodeModal()">
              <ion-input inputmode="text" readonly="true" [(ngModel)]="user.countryCode"
                class="gotham input-padding-0 ion-input border-bottom font-22"></ion-input>
            </ion-col>
            <ion-col class="full-width ">
              <ion-input inputmode="tel" type="text" value="user.phoneNumber" [(ngModel)]="user.phoneNumber"
                (input)="validatePhone()" #autofocus
                class="gotham border-bottom input-padding-0 ion-input font-22"></ion-input>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <ng-template #emailTemplate>
        <ion-row class="margin-top-20 border-bottom">
          <ion-label position="stacked" class="font-20 dark-grey gotham">Enter Email Id</ion-label>
          <ion-input type="email" inputmode="text" class="font-22 gotham" [(ngModel)]="user.email" [value]="user.email"
            (input)="validateEmail()">
          </ion-input>
        </ion-row>
      </ng-template>

      <ion-row class="margin-top-50 border-bottom">
        <ion-label position="stacked" class="font-20 dark-grey gotham">Enter your name</ion-label>
        <ion-input inputmode="text" class="font-22 gotham" [(ngModel)]="user.name" [value]="user.name"
          (input)="IonNameChange();">
        </ion-input>
      </ion-row>
    </div>
  </div>

  <div *ngIf="visitorType=='delivery' && step==1">
    <div class="width-90-percent margin-auto">
      <h2 class="center-text margin-top-50 margin-bottom-20">Delivery from</h2>
      <ion-grid class="grid-list margin-bottom-10 padding-right-10 padding-left-10">
        <ion-row class="border-grey-2  padding-10 border-radius-10" *ngFor="let delivery of deliveryList; let i = index"
          (click)="selectDelivery(delivery,i);" [ngClass]="{'selectedDelivery':selectIndex==i && !otherDelivery }">
          <ion-col class="align-self-center height-68">
            <img src="{{delivery.logo}}" width="100%" height="100%" class="object-fit-contain"/>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="deliveryList.length<=0" class="center-text"><p>No deliveries found</p></div>
    </div>
  </div>
  <div class="width-90-percent margin-auto" *ngIf="step == 2">
    <ion-row class="border-bottom">
      <div position="stacked" class="font-20 font-weight-400 dark-grey gotham">Who are you here to meet? (Search by
        name)</div>
      <ion-input [(ngModel)]="searchText" (ionInput)="filterItems()" class="width-90-percent font-23">
      </ion-input>
      <span class="align-self-center text-align-end width-10-percent">
        <ion-icon name="search" size="30" color="secondary"></ion-icon>
      </span>
    </ion-row>
    <div class="center-text margin-top-10" [hidden]="!spinner">
      <ion-spinner name="lines"></ion-spinner>
    </div>

    <ion-list style="max-height:60vh;overflow:auto">
      <div class="item-border" *ngFor="let user of filteredUserList">
        <ion-card (click)="selectUser(user);" class="user-cards">
          <ion-card-content class="padding-0">
            <ion-list>
              <ion-item lines="none" class="padding-10">
                <ion-thumbnail slot="start">
                  <img class="border-radius-50-percent margin-left-10" src="{{user.profilePicture}}"
                    onerror="src='./assets/profile.png'" />
                </ion-thumbnail>
                <ion-label class="font-20 margin-left-10">{{user?.firstName}} {{user?.lastName}}
                  <span *ngIf="user?.companyName">| {{user?.companyName}}</span></ion-label>
                <img *ngIf="user == selectedUser" src="../../../assets/icon/check-mark.svg" alt="check-mark" />
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
    <div *ngIf="emptyUserList" class="center-text margin-top-20">
      <ion-text class="font-22 font-weight-400">No users found</ion-text>
    </div>
  </div>
  <div class="msform" *ngIf="step == 3 ">
    <div *ngIf="hideButton == true else success">
      <ion-text class="font-30 font-weight-500 sm-txt-20" *ngIf="visitorType != 'delivery'">Position your face in the
        center</ion-text>
      <ion-text class="font-30 font-weight-500 sm-txt-20" *ngIf="visitorType == 'delivery'">Show photo of
        parcel</ion-text>
      <p class="font-22 sm-txt-16 font-weight-400" id="topHeader">
        Within 5 sec, your picture will be captured automatically
      </p>
      <!-- <img class="margin-top-10 margin-bottom-10 border-radius-10 sm-m-0 width-70-percent" [src]="capturedImage"
        *ngIf="capturedImage" /> -->
    </div>
    <ng-template #success>
      <ion-text class="display-flex-justify-center sm-txt-20 font-25 sm-mb-20 align-item-center margin-bottom-30">
        <img class="icon-30 margin-right-10" src="../../../assets/icon/check-mark.svg" alt="check-mark" />
        Captured Successfully
      </ion-text>
      <div>
        <img class="border-radius-10 border-radius-50-percent capturedImage"
          [style.height.px]="displayPictureContainer.number" [style.width.px]="displayPictureContainer.number"
          *ngIf="capturedImage" [src]="capturedImage" />
      </div>
    </ng-template>
  </div>
  <div *ngIf="step == 4 && visitorType!='delivery' && approvalStatus=='pending-approval'" class="center-text padding-20">
    <div *ngIf="!approvalTimeOut">
      <div class="lottie-animation">
        <ng-lottie [options]="options" (animationCreated)="onAnimate($event)">
        </ng-lottie>
      </div>
      
      <p class="font-20">Just a moment...!</p>
      <p class="font-14">We have notified the person you are
        visiting to approve your entry.</p>
    
      <p class="font-14">
        If you have their number, you can
        give them a ring, for faster approvals.
      </p>
      <div class="absolute-position bottom-0 width-90-percent">
        <div size="3" class="display-flex-justify-center align-item-center font-25 margin-top-30">
          <div class="time-left display-flex-justify-center align-item-center font-30 sm-txt-20">
            {{timeLeft}}
          </div>
        </div>
        <div class="font-16 center-text margin-top-10">Return to homepage</div>
      </div>
    </div>
    <div *ngIf="approvalTimeOut">
      <ion-icon class="icon-50" src="assets/svg/approval-timeout.svg"></ion-icon>
    <p>We regret to inform you that your entry request has been timed out.</p>
    <p>Your host did not respond on time.</p>
    <p> If you think this is a mistake, contact the person you want to meet and try this process again.</p>
    <div class="absolute-position bottom-0 width-90-percent">
      <div size="3" class="display-flex-justify-center align-item-center font-25 margin-top-30">
        <div class="time-left display-flex-justify-center align-item-center font-30 sm-txt-20">
          {{timeLeft}}
        </div>
      </div>
      <div class="font-20 center-text margin-top-10">Return to homepage</div>
    </div>
    </div>
  </div>
  <div *ngIf="step == 4 && visitorType!='delivery' && approvalStatus=='rejected'" class="center-text padding-20">
    <ion-icon class="icon-50" src="assets/svg/approval-reject.svg"></ion-icon>
    <p>We regret to inform you that your
      entry request has been rejected.</p>
    <p>If you think this is a mistake, contact the person you want to meet and try this process again.</p>
    <div class="absolute-position bottom-0 width-90-percent">
      <div size="3" class="display-flex-justify-center align-item-center font-25 margin-top-30">
        <div class="time-left display-flex-justify-center align-item-center font-30 sm-txt-20">
          {{timeLeft}}
        </div>
      </div>
      <div class="font-20 center-text margin-top-10">Return to homepage</div>
    </div>
  </div>
  

  <div *ngIf="step == 4 && visitorType!='delivery' && approvalStatus=='active'" class="center-text">
    <ion-text class="font-30 font-weight-500">Thank you</ion-text>
    <p class="font-22 font-weight-400 margin-left-10 margin-right-10">
      Please check your WhatsApp/Email for your gate pass
    </p>

    <ion-card id="dashed-border" class="gatePassCard">
      <div class="corner-circle-top "></div>
      <div class="corner-circle-bottom "></div>
      <ion-card-header>
        <ion-card-title color="secondary" class="font-22 font-weight-500">Your Gate Pass</ion-card-title>
      </ion-card-header>
      <ion-card-content class="gatePassCardContent">
        <img [src]="capturedImage" class="width-height-80 border-radius-50-percent" />
        <ion-text class="font-18 font-weight-500 margin-top-10 black-color">{{user.name || ""}}</ion-text>
        <ion-text class="margin-bottom-10 black-color">{{user.email ? user.email: user.phoneNumber || ""}}</ion-text>
        <div class="border-bottom-dashed" id="meet">
        </div>
        <ion-text class="margin-bottom-10 margin-top-10 font-20 font-weight-500" color="secondary">Here to
          meet</ion-text>
        <ion-grid fixed>
          <ion-row class="text-align-start">
            <ion-col size="5" class="light-gray font-16">Name</ion-col>
            <ion-col class="black-color">
              <span>{{selectedUser?.firstName || ''}}</span>
              <span *ngIf="selectedUser?.companyName"> - {{selectedUser?.companyName || ""}}</span>
            </ion-col>
          </ion-row>
          <ion-row class="text-align-start">
            <ion-col size="5" class="light-gray font-16">Purpose</ion-col>
            <ion-col class="black-color">{{purpose}}</ion-col>
          </ion-row>
          <ion-row class="text-align-start">
            <ion-col size="5" class="light-gray font-16">Timestamp</ion-col>
            <ion-col class="black-color">{{user.visitDate| date : "longDate"}} | {{user.visitDate|
              date : "shortTime"}}</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="3" class="" style="width: 60px;height: 60px; margin: auto;margin-bottom: 30px;">
              <img [src]="QRCode" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <div>
      <div size="3" class="display-flex-justify-center align-item-center font-25 margin-top-30">
        <div class="time-left display-flex-justify-center align-item-center font-30 sm-txt-20">
          {{timeLeft}}
        </div>
      </div>
      <div class="font-20 center-text margin-top-10">Return to homepage</div>
    </div>
  </div>
  <div *ngIf="step == 4 && visitorType=='delivery'" class="center-text width-70-percent margin-auto">
    <img src="../../../assets/icon/thank-you.png" />
    <p class="font-25">
      Thank you for visiting. Please proceed ahead to deliver the parcel.
    </p>
    <p class="font-25">Thank you</p>
    <div>
      <div size="3" class="display-flex-justify-center align-item-center font-25 margin-top-30">
        <div class="time-left display-flex-justify-center align-item-center font-30 sm-txt-20">
          {{timeLeft}}
        </div>
      </div>
      <div class="font-20 center-text margin-top-10">Return to homepage</div>
    </div>
  </div>
</ion-content>
<div class="border-top border-bottom padding-bottom-20 width-100-percent bottom-0 discussion-white" *ngIf="visitorType=='delivery' && step==1">
  <div class="width-90-percent margin-auto">
    <ion-item class="border-bottom">
      <ion-label position="stacked" class="font-20 dark-grey gotham margin-top-20">Others</ion-label>
      <ion-input inputmode="text" [(ngModel)]="otherDelivery" (input)="handleChange($event);" class="font-22 gotham"> </ion-input>
    </ion-item>
  </div>
</div>
<ion-footer class="bg-white box-shadow-none">
  <div *ngIf="step == 3 && hideButton != true" (click)="tryAgain();"
    class="try-again font-28 sm-txt-20 font-weight-400 center-text">
    Click here to try again
  </div>
  <div class="display-flex justify-center" *ngIf=" hideButton == false">
    <ion-button  mode="md" color="secondary" (click)="nextStep();" [disabled]="!isEnable" class="footer-button width-90-percent margin-top-24 margin-bottom-24">
      {{buttonText}}
    </ion-button>
  </div>
</ion-footer>

<ion-footer class="bg-white box-shadow-none" *ngIf="step == 4 && visitorType!='delivery' && (approvalStatus=='pending-approval' || approvalStatus=='rejected')">
  <div class="display-flex justify-center">
    <ion-button routerLinkActive="true" routerLink="/homepage"  mode="md" color="secondary" class="footer-button font-16 text-transformation-math-auto width-90-percent margin-top-24 margin-bottom-24">
      Return to home page
    </ion-button>
  </div>
</ion-footer>

<!-- For absolute position -->
<div [style.top.px]="capturingHeight" id="capturing" *ngIf="capturingHeight&&hideButton == true && step!==4">
  <p class="font-30 sm-txt-20 font-weight-400 margin-0">
    Capturing photo in
  </p>
  <div size="3" class="display-flex-justify-center align-item-center font-25 margin-top-10">
    <div class="time-left display-flex-justify-center align-item-center font-30 sm-txt-20">
      {{timeLeft}}
    </div>
  </div>
</div>