.input-border {
  border-bottom: 1.5px solid #e0e0e0;
}
ion-input {
  font-size: 20px !important;
}

.ion-item-border {
  border-width: 2px;
}

.ion-item-border::part(native) {
  border-bottom-width: 1px;
  padding: 0 !important;
}

.need-help{
  color: var( --ion-color-secondary );
}

ion-item {
  --background: transparent !important;
  --background-activated: transparent !important;
  --transition: background-color 15ms linear;
  --inner-padding-bottom: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  --inner-padding-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
}
