
<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed" [hidden]=" visibleBlock !== 'otpInput' " (click)="backButtonCase()">
    <ion-fab-button class=" fab-button-shadow" size="small" color="light">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="max-available-height full-width no-scroll">
    <div class="webkit-center">
      <div>
        <ion-row class="width-80-percent margin-top-30 margin-bottom-20">
          <ion-col>
            <img src="../../../assets/login-pic.png" />
          </ion-col>
        </ion-row>
      </div>


      <!-- Phone number input -->
      <div [hidden]=" visibleBlock !== 'phoneInput' ">
        <ion-row class="width-80-percent">
          <div class="text-left">
            <p class="font-20 margin-bottom-10">Welcome,SAIKUMAR</p>
          </div>
        </ion-row>
        <ion-row class="width-80-percent">
          <div class="text-left">
            <p class="font-18 margin-top-0">Enter your phone number to continue</p>
          </div>
        </ion-row>
        <ion-row class="width-80-percent text-left">
          <ion-col size="3">
            <ion-item (click)="showCountryCodeModal()">
              <ion-input inputmode="text" [(ngModel)]="loginData.countryCode"> </ion-input>
              <ion-icon name="caret-down-outline" class="light-gray"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="9">
            <ion-item>
              <ion-input inputmode="tel" type="tel" placeholder=" " (keyup.enter)="handleSubmit()" [(ngModel)]="loginData.phoneNumber"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="width-80-percent center-text margin-top-10">
          <ion-button  class="full-button" expand="full" (click)="handleSubmit();" color="secondary">Submit
          </ion-button>
        </ion-row>
        <br>
        <!-- <ion-row style="justify-content: center !important" class="width-80-percent">
          <a class="font-16 need-help black-color" (click)="needHelp()">Need help?</a>
        </ion-row> -->

      </div>

      <div [hidden]=" visibleBlock !== 'otpInput' ">
        <ion-row class="width-80-percent text-left">
          <ion-col>
            <p class="font-20">Enter the 4-digit code sent to you at</p>
            <p class="font-19">{{loginData.countryCode}} {{loginData.phoneNumber}}</p>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="&bull;" class="center-text" #input1  inputmode="tel" type="tel" maxlength="1"
                    pattern="[0-9]" [(ngModel)]="loginData.accessCode1"
                    (keyup)="next(input2, '', loginData.accessCode1)">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="&bull;" class="center-text" #input2  inputmode="tel" type="tel" maxlength="1"
                    pattern="[0-9]" [(ngModel)]="loginData.accessCode2"
                    (keyup)="next(input3, input1, loginData.accessCode2)">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="&bull;" class="center-text" #input3  inputmode="tel" type="tel" maxlength="1"
                    pattern="[0-9]" [(ngModel)]="loginData.accessCode3"
                    (keyup)="next(input4, input2, loginData.accessCode3)">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="&bull;" class="center-text" #input4  inputmode="tel" type="tel" maxlength="1"
                    pattern="[0-9]" [(ngModel)]="loginData.accessCode4"
                    (keyup)="next('', input3, loginData.accessCode4)">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>

        <ion-row *ngIf="showOtpCounter" color="primary">
          <ion-col class="center-text">
            <a class="font-20 black-color">Please wait for {{timeLeft}} </a>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!showOtpCounter" color="primary">
          <ion-col class="center-text">
            <a class="font-20 black-color" (click)="handleSubmit()">Resend OTP </a>
          </ion-col>
        </ion-row>
        <ion-row class="width-80-percent center-text margin-top-10">
          <ion-button class="full-button font-20" expand="full" color="secondary" (click)="login()">Confirm</ion-button>
        </ion-row>
        <br>
        <!-- <ion-row style="justify-content: center !important" class="width-80-percent">
          <a class="font-20 black-color" (click)="needHelp()">Need help?</a>
        </ion-row> -->
      </div> 
    </div>
  </div>
</ion-content>
