<ion-header>
  <ion-toolbar class="header">
    <ion-item lines="none" class="margin-10 ion-item">
      <div  #card>
        <img
        class="header-logo"
          src="{{orgLogo}}"
          onerror="src='assets/icon/default-logo.png'"
        />
      </div>
      <div slot="end">
        <div class="font-20 font-weight-400 date display-flex">
          <div>{{Date | date : "longDate"}} | {{Date | date : "shortTime" }}</div> 
        </div>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="width-90-percent margin-auto">
    <div class="sm-20 margin-top-30 margin-bottom-20">
      <ion-text class="main-text">Start Self Check-In</ion-text>
      <p class="sub-text margin-0">Select purpose of visit</p>
    </div>
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center" (click)="selectPurpose('guest');">
        <ion-col size="5" class="grid-box display-flex flex-direction-column align-item-center justify-center"  ngClass="{{purpose == 'guest' ? 'selected' : 'not-selected'}}">
          <ion-icon src="../../../assets/icon/guest.svg" class="icon-66 " ngClass="{{purpose == 'guest' ? 'selected-icon' : 'not-selected-icon'}}"> </ion-icon>
          <p class="font-28 font-weight-400 margin-0 sm-txt-20" >Guest</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center" (click)="selectPurpose('delivery');">
        <ion-col size="5" class="grid-box display-flex flex-direction-column align-item-center justify-center"  ngClass="{{purpose == 'delivery' ? 'selected' : 'not-selected'}}">
          <ion-icon src="../../../assets/icon/delivery.svg" class="icon-66 " ngClass="{{purpose == 'delivery' ? 'selected-icon' : 'not-selected-icon'}}"> </ion-icon>
          <p class="font-28 font-weight-400 margin-0 sm-txt-20" >Delivery</p>
        </ion-col>
      </ion-row>
        <ion-row class="ion-justify-content-center" (click)="selectPurpose('vendor');"> 
        <ion-col size="5" class="grid-box display-flex flex-direction-column align-item-center justify-center" ngClass="{{purpose == 'vendor' ? 'selected' : 'not-selected'}}">
          <ion-icon src="../../../assets/icon/vendor.svg" class="icon-66 " ngClass="{{purpose == 'vendor' ? 'selected-icon' : 'not-selected-icon'}}"> </ion-icon>
          <p class="font-28 font-weight-400 margin-0 sm-txt-20" >Vendor</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-item class="text-dark-gray"></ion-item> -->
    <div class="gray-txt height-1"></div>
    <div >
      <ion-grid>
        <ion-row class="sm-20 margin-top-20 margin-bottom-20">
          <ion-col>
            <div class="ion-text-center">
              <ion-text class="font-25 font-weight-400 sm-txt-20"
                >Already have an invitation?
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-button mode="md"
              routerLink="/check-in"
              routerLinkActive
              class="verify-btn"
              fill="outline"
              color="secondary font-26"
            >
              Verify OTP
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer class="border-grey bg-white">
  <div class="display-flex justify-center">
    <ion-button (click)="navigateToCheckIn()"  mode="md"  color="secondary" class="letter-spacing-2 footer-button width-90-percent margin-bottom-24 margin-top-20">
      Next
    </ion-button>
  </div>
</ion-footer>
