#container {
  display: grid;
  align-content: center;
}

ion-content {
  text-align: center;
  // --background: #eac42e !important;
}

ion-toolbar{
  border-width:0 !important ;
}

.ion-item {
  background-color: white;
}
.main-text {
  color: #262626;
  text-align: center;
  font-size: 27px;
  font-weight: 500;
  line-height: normal;
}
.sub-text {
  color: #262626;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.not-selected {
  border: 1.584px solid #d7d7d7;
  color: #737373;
}
.selected {
  border: 1.584px solid var(--ion-color-secondary);
}
.grid-box{
  border-radius: 7.92px;
  background: #fff;
  margin-bottom: 30px;
}

.verify-btn {
  width: 265px;
  height: 68px;
  border-radius: 7.92px;
  background: #fff;
  --border-width: 1.584px;
}

.selected-icon {
  color: var(--ion-color-secondary);
  margin-bottom: 10px !important;
}

.not-selected-icon {
  color:#C5C5C5;
  margin-bottom: 10px !important;
}

ion-button {
  --border-radius: 5px;
}

.gray-txt{
  background-color: #d7d7d7;
}
.verify-otp-div{
  position: absolute;
  bottom: 20px !important;
  width: 90%;
  border-top: 1px solid #D3D3D3;
}
ion-item::part(native) {
  //WRITE ALL YOUR CSS RULES HERE
  padding-left: unset;
  /** and lots more **/
}
@media screen and (min-width: 768px){
  .not-selected {
    width: 264.54px;
    height: 147.319px;
  }
  .selected {
    width: 264.54px;
    height: 147.319px;
  }
}

@media screen and (max-width:425px) {
  .icon-66{
    height: 40px !important;
    width: 40px !important;
  }
  .grid-box{
    margin-bottom: 20px;
    border-radius: 5px;
    height: 90px;
  }
  .sm-20{
    margin-top: 20px !important;
  }
  .sm-mb-20{
    margin-bottom: 20px !important;
  }
  .main-text{
    font-size: 90%;
  }
  .sub-text {
    font-size: 90%;
    font-weight: 400;
  }

  .verify-btn{
    width: 40%;
    font-size: 17px !important;
    font-weight: 400;
    height: 50px;
  }
  .sm-txt-20{
    font-size: 20px !important;
  }
  .sm-pd-0{
    padding: 0 !important;
  }
  .date{
    margin: 0px !important;
  }
}
